* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	font: 10px verdana, sans-serif;
	margin-top: 90px;
	margin-bottom: 90px;
	position: relative;
}


#center_body, nav, #right_body {
	float: left;
	padding: 10px;
}

nav {
	width: 22%;
	margin-right: 1%;
	margin: 5px;
	    height: 100%;
    position: fixed;
}

nav a:active {
	color: white;
}

#center_body {
	width: 54%;
	margin-right: 1%;
	margin-bottom: 5%;
	margin-left: 23%;
}

#right_body {
	width: 20%;
}



.button_most {
	background-color: black;
	color: white;
	font: 20px verdana, sans-serif;
	width: 33%;
	height: 50px;
}

.button_most:hover {
	transform: translate(0px, 10px);
	background-color: #fe850c;
	cursor: pointer;
}

.link_most:focus {
	background-color: #fe850c;
}

#login_button, #logout_button {
	position: absolute;
	right: 0px;
	background-color: black;
	color: white;
}

#login_button:hover, #logout_button:hover {
	background-color: #fe850c;
	cursor: pointer;
}

.content_button, .delete_button {
	background-color: black;
	color: white;
}

.content_button:hover {
	background-color: green;
	cursor: pointer;
}

.delete_button:hover {
	background-color: red;
	cursor: pointer;
}

.user_button {
	background-color: black;
	color: white;
}

.user_button:hover {
	background-color: #fe850c;
	cursor: pointer;
}

.likeDislike {
	
}

.likeDislike:hover {
	cursor: pointer;
	transform: rotate(-20deg);
}

.side_button {
	color: #fe850c;
	color: rgb(254, 133, 12);
	background-color: #333333;
	background-color: rgb(51, 51, 51);
	font-size: 20px;
	line-height: 25px;
	vertical-align: baseline;
	letter-spacing: normal;
	word-spacing: 0px;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	text-align: left;
	text-indent: 0px;
	border-radius: 5px;
	width: 100%;
}

.side_button:hover {
	transform: translate(10px, 0px);
	background-color: white;
	cursor: pointer;
}

.side_button:active {
	background-color: white;
}

.img_button:hover {
	cursor: pointer;
}

#top_user_options {
	position: absolute;
	top: 10px;
	right: 10px;
}

#header_body {
	background-color: black;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0;
	box-shadow: 0px -5px 10px 10px #fe850c;
}

#article_title {
	font-size: 30px;
		color: #fe850c
}

#article_subtext {
	font-size: 15px;
	font-style: italic;

}

#article_content {
	font-size: 20px;
	text-align: justify;
}

a:link, a:visited {
	text-decoration: none;
	color: #fe850c;
}

a:hover {
	color: white;
}

#footer {
	position: fixed;
	height: 70px;
	background-color: black;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	box-shadow: 0px 5px 10px 10px #fe850c;
}

<!--
pop up button start -->.box {
	width: 40%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.2);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 20px/50px;
	background-clip: padding-box;
	text-align: center;
}

.button {
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.button:hover {
	background: #fe850c;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}

.popup h2 {
	margin-top: 0;
	color: #333;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #fe850c;
}

.popup .content {
	max-height: 30%;
	overflow: auto;
	color: black;
}

@media screen and (max-width: 700px) {
	.box {
		width: 70%;
	}
	.popup {
		width: 70%;
	}
}
<!--
pop
 
up
 
button
 
end
 
-->

